.card {
    border: 2px;
    margin-bottom: 10px;
}

.spacer {
    height: 50px;
}

#favgiphy {
    border-bottom: 2px solid black;
}

body {
    background-color: lightblue;
}

.card-body {
    background-color: white;
}
